/.pytest_cache
/__pycache__
/.vscode
Dataframe_Export_0.CSV
Dataframe_Export_1.CSV
Dataframe_Export_2.CSV
Dataframe_Export_3.CSV
settings.json
/Results/Figures
/Results/tables
Plot_index_performance.svg