[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
openpyxl = "*"
datacompy = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
datatest = "*"

[requires]
python_version = "*"
